.DS_Store

/proj.html5/.idea/workspace.xml

/proj.ios/TD.xcworkspace/xcuserdata/leadprogrammer.xcuserdatad/UserInterfaceState.xcuserstate

/proj.android/proj.standard/assets
/proj.android/proj.standard/bin
/proj.android/proj.standard/obj

/_AssetsLibrary/Assets_Standard/Assets/Assets/CCBI
/_AssetsLibrary/Assets_Standard/Assets/Assets/HDR
/_AssetsLibrary/Assets_Standard/Assets/Assets/HD
/_AssetsLibrary/Assets_Standard/Assets/Assets/SD
